BODY
{
    SCROLLBAR-FACE-COLOR: #D9E4EA;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    SCROLLBAR-HIGHLIGHT-COLOR: #D9E4EA;
    TEXT-TRANSFORM: none;
    SCROLLBAR-SHADOW-COLOR: #D9E4EA;
    COLOR: #003366;
    SCROLLBAR-3DLIGHT-COLOR: #D9E4EA;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #D9E4EA;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    SCROLLBAR-DARKSHADOW-COLOR: #D9E4EA;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
.scroll1
{
    SCROLLBAR-FACE-COLOR: #FFFFFF;
    SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #FFFFFF;
    SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF
}

.textoinput
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-SIZE: 10px;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    BORDER-LEFT: #000000 1px solid;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    COLOR: #737886;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #71676E;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    BACKGROUND-COLOR: #ffffff
}

.textoinputp
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-SIZE: 9px;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    BORDER-LEFT: #000000 1px solid;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    COLOR: #737886;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #71676E;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Arial;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    BACKGROUND-COLOR: #ffffff
}

.boton3
{
    FONT-SIZE: 10px;
    COLOR: #1D44A1;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton3 A
{
    FONT-SIZE: 10px;
    COLOR: #1D44A1;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton3 A:active
{
    FONT-SIZE: 10px;
    COLOR: #1D44A1;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton3 A:link
{
    FONT-SIZE: 10px;
    COLOR: #1D44A1;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton3 A:visited
{
    FONT-SIZE: 10px;
    COLOR: #1D44A1;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton3 A:hover
{
    FONT-SIZE: 10px;
    COLOR: #50A0CF;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton1
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton1 A
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton1 A:active
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton1 A:link
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton1 A:visited
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton1 A:hover
{
    FONT-SIZE: 10px;
    COLOR: #999999;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton2
{
    FONT-SIZE: 10px;
    COLOR: #800000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton2 A
{
    FONT-SIZE: 10px;
    COLOR: #800000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton2 A:active
{
    FONT-SIZE: 10px;
    COLOR: #800000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton2 A:link
{
    FONT-SIZE: 10px;
    COLOR: #800000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton2 A:visited
{
    FONT-SIZE: 10px;
    COLOR: #800000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.boton2 A:hover
{
    FONT-SIZE: 10px;
    COLOR: #FF7576;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}

.tabla
{
    BORDER-RIGHT: #555555 1px solid;
    BORDER-TOP: #555555 1px solid;
    BORDER-LEFT: #555555 1px solid;
    BORDER-BOTTOM: #555555 1px solid
}
.tablaa
{
    BORDER-RIGHT: #FFCC00 1px solid;
    BORDER-TOP: #FFCC00 1px solid;
    BORDER-LEFT: #FFCC00 1px solid;
    BORDER-BOTTOM: #FFCC00 1px solid
}
.tablaa2
{
    BORDER-RIGHT: #FFCC00 2px solid;
    BORDER-TOP: #FFCC00 2px solid;
    BORDER-LEFT: #FFCC00 2px solid;
    BORDER-BOTTOM: #FFCC00 2px solid
}
.textomna
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomna A
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomna A:link
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomna A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomna A:active
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomna A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomnv
{
    FONT: bold 10px Verdana;
    COLOR: #60BB46;
    TEXT-DECORATION: none
}
.textomnv A
{
    FONT: bold 10px Verdana;
    COLOR: #60BB46;
    TEXT-DECORATION: none
}
.textomnv A:link
{
    FONT: bold 10px Verdana;
    COLOR: #60BB46;
    TEXT-DECORATION: none
}
.textomnv A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #60BB46;
    TEXT-DECORATION: none
}
.textomnv A:active
{
    FONT: bold 10px Verdana;
    COLOR: #60BB46;
    TEXT-DECORATION: none
}
.textomnv A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #60BB46;
    TEXT-DECORATION: none
}
.textomna2
{
    FONT: bold 10px Verdana;
    COLOR: #4F85C0;
    TEXT-DECORATION: none
}
.textomna2 A
{
    FONT: bold 10px Verdana;
    COLOR: #4F85C0;
    TEXT-DECORATION: none
}
.textomna2 A:link
{
    FONT: bold 10px Verdana;
    COLOR: #4F85C0;
    TEXT-DECORATION: none
}
.textomna2 A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #4F85C0;
    TEXT-DECORATION: none
}
.textomna2 A:active
{
    FONT: bold 10px Verdana;
    COLOR: #4F85C0;
    TEXT-DECORATION: none
}
.textomna2 A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}
.textomnn
{
    FONT: bold 10px Verdana;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textomnn A
{
    FONT: bold 10px Verdana;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textomnn A:link
{
    FONT: bold 10px Verdana;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textomnn A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textomnn A:active
{
    FONT: bold 10px Verdana;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textomnn A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textognb
{
    FONT: bold 12px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.textomnb
{
    FONT: bold 10px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.textomnb A
{
    FONT: bold 10px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.textomnb A:link
{
    FONT: bold 10px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.textomnb A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.textomnb A:active
{
    FONT: bold 10px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.textomnb A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}

.textomn2b
{
    FONT: bold 10px Verdana;
    COLOR: #D9E4EA;
    TEXT-DECORATION: none
}
.textomn2b A
{
    FONT: bold 10px Verdana;
    COLOR: #D9E4EA;
    TEXT-DECORATION: none
}
.textomn2b A:link
{
    FONT: bold 10px Verdana;
    COLOR: #D9E4EA;
    TEXT-DECORATION: none
}
.textomn2b A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #D9E4EA;
    TEXT-DECORATION: none
}
.textomn2b A:active
{
    FONT: bold 10px Verdana;
    COLOR: #D9E4EA;
    TEXT-DECORATION: none
}
.textomn2b A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}

.textomb
{
    FONT: 10px Verdana;
    COLOR: #d1dce1;
    TEXT-DECORATION: none
}
.textomb A
{
    FONT: 10px Verdana;
    COLOR: #d1dce1;
    TEXT-DECORATION: none
}
.textomb A:link
{
    FONT: 10px Verdana;
    COLOR: #d1dce1;
    TEXT-DECORATION: none
}
.textomb A:visited
{
    FONT: 10px Verdana;
    COLOR: #d1dce1;
    TEXT-DECORATION: none
}
.textomb A:active
{
    FONT: 10px Verdana;
    COLOR: #d1dce1;
    TEXT-DECORATION: none
}
.textomb A:hover
{
    FONT: 10px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}
.textosp
{
    FONT: 9px Arial;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textopb
{
    FONT: 9px Verdana;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.textop
{
    FONT: 9px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textop A
{
    FONT: 9px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textop A:link
{
    FONT: 9px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textop A:visited
{
    FONT: 9px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textop A:active
{
    FONT: 9px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textop A:hover
{
    FONT: 9px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}
.textomj
{
    FONT: 10px Verdana;
    TEXT-ALIGN: justify;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomj A
{
    FONT: 10px Verdana;
    TEXT-ALIGN: justify;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomj A:link
{
    FONT: 10px Verdana;
    TEXT-ALIGN: justify;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomj A:visited
{
    FONT: 10px Verdana;
    TEXT-ALIGN: justify;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomj A:active
{
    FONT: 10px Verdana;
    TEXT-ALIGN: justify;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomj A:hover
{
    FONT: 10px Verdana;
    TEXT-ALIGN: justify;
    COLOR: #A29988;
    TEXT-DECORATION: none
}
.textom
{
    FONT: 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textom A
{
    FONT: 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textom A:link
{
    FONT: 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textom A:visited
{
    FONT: 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textom A:active
{
    FONT: 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textom A:hover
{
    FONT: 10px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}
.textom3
{
    FONT: 10px Verdana;
    COLOR: #A1A1A1;
    TEXT-DECORATION: none
}
.textom2
{
    FONT: 10px Verdana;
    COLOR: #787165;
    TEXT-DECORATION: none
}
.textom2 A
{
    FONT: 10px Verdana;
    COLOR: #787165;
    TEXT-DECORATION: none
}
.textom2 A:link
{
    FONT: 10px Verdana;
    COLOR: #787165;
    TEXT-DECORATION: none
}
.textom2 A:visited
{
    FONT: 10px Verdana;
    COLOR: #787165;
    TEXT-DECORATION: none
}
.textom2 A:active
{
    FONT: 10px Verdana;
    COLOR: #787165;
    TEXT-DECORATION: none
}
.textom2 A:hover
{
    FONT: 10px Verdana;
    COLOR: #787165;
    TEXT-DECORATION: none
}
.textoxln
{
    FONT: bold 15px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textogn
{
    FONT: bold 12px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textogn A
{
    FONT: bold 12px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textogn A:link
{
    FONT: bold 12px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textogn A:visited
{
    FONT: bold 12px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textogn A:active
{
    FONT: bold 12px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textogn A:hover
{
    FONT: bold 12px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}
.textomn
{
    FONT: bold 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomn A
{
    FONT: bold 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomn A:link
{
    FONT: bold 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomn A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomn A:active
{
    FONT: bold 10px Verdana;
    COLOR: #373e52;
    TEXT-DECORATION: none
}
.textomn A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}

.textomenu
{
    FONT: 10px Verdana;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.titulog
{
    FONT: bold 15px 'Arial';
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.titulogn
{
    FONT: bold 16px 'Arial';
    COLOR: #000000;
    TEXT-DECORATION: none
}
.textogn2
{
    FONT: bold 10px Verdana;
    COLOR: #373E52;
    TEXT-DECORATION: none
}
.textogn2 A
{
    FONT: bold 10px Verdana;
    COLOR: #373E52;
    TEXT-DECORATION: none
}
.textogn2 A:link
{
    FONT: bold 10px Verdana;
    COLOR: #373E52;
    TEXT-DECORATION: none
}
.textogn2 A:visited
{
    FONT: bold 10px Verdana;
    COLOR: #373E52;
    TEXT-DECORATION: none
}
.textogn2 A:active
{
    FONT: bold 10px Verdana;
    COLOR: #373E52;
    TEXT-DECORATION: none
}
.textogn2 A:hover
{
    FONT: bold 10px Verdana;
    COLOR: #A29988;
    TEXT-DECORATION: none
}